/*
@font-face {
    font-family: "Titulos";
    src: url();
}
*/

.rounded-box {
    background-color: #F8FFFB;
    width: 400px;
    height: 400px;
    border: 2px solid #525A5C;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.jogo {
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

body {
    background-color: #DCFBE9;
}

h1 {
    color: #008236;
    text-align: center;
    /*Escolher fonte depois*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

p {
    color: #4A5565;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

button {
    background-color: #01B907;
    color:rgb(27, 27, 27);
    width: 40%;
    padding: 12px 24px;
    border: 2px solid #525A5C;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

input[type="text"] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    width: 200px;
    height: 45px;
    margin-top: 20px;
    vertical-align: middle;
    padding: 4px 6px;
    box-sizing: border-box;
    border: 1px solid #525A5C;
    border-radius: 4px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 20px;
    vertical-align: middle;

}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    top: 8px;
    position: relative;
    display: inline-block;
    vertical-align: middle;;

}